* *, *::before, *::after { 
  animation-play-state: running !important;
}

*{
  font-family: 'Salsa', cursive;
}





#myplay, #mypause, #slo, #normal, #fast{
  font-size: 2rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);

}

.layout2, .myframe {
  display: block;
}

#info {
  width: 100vw;
  height: 500px;
}

#container {
  display:flex;
  grid-gap: 1rem;
  flex-direction:column;
  position: relative;
  max-width: 1024px;
  margin-top:5rem;
}

#bleh{
  display:flex;
  flex-direction:column;
  width:85%;
  margin-top:11rem;
  
}


.Korea{
  font-size:1rem;
  text-align:center;
}

#player{
  width:90%;
  height:50vh;
  margin-top:-15rem;
  margin-left:175px;
  
}

h1{
  text-align: center;
  background-color: #fff;
  border-radius: 50px;
  width:50%;
  margin: 0 auto;
  padding:5px;
}

iframe {
	height:80vh;
  width:60%;
  border: 10px solid black;
  margin-top:11rem;
  margin-left:150px;


}

.controls{
  display:flex;
  flex-direction: row;
  grid-gap:10px;
  border-radius: 50px;
  width:40%;
  margin: 0 auto;

}




button{
  margin-top: 10px;
  border-radius: px;  

}

.button:hover {
  background-color: #4caf4ff1; /* Green */
  color: rgb(255, 0, 0);
}



.myFrame{
  margin: 0 auto;
  border: 10px solid rgb(255, 119, 0);
}

.col2{
  float:right;
  width:50%;
  position:relative;
  margin-top:-1270px;
  height:40vh;
}


.stage {
  position:absolute;
  height: 300px;
  width: 450px;
  margin-top: 43rem;
  margin-left:18rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style:preserve-3d;
  animation: ಠ_ಠ 6s infinite alternate ease-in-out -7.5s;
  animation-fill-mode: forwards;
  transform: rotateY(40deg) rotateX(33deg) translateZ(0);
}

.layer:after {
  font: 90px/1 'Salsa', cursive;;
  content: "K-Pop\a Media Player!";
  white-space: pre;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 20px;
  color:linear-gradient(180deg, #fff, #ffadbb, #f3ffbe);
  ;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer:nth-child(1):after {
  transform: translateZ(0px);
}

.layer:nth-child(2):after {
  transform: translateZ(-1.5px);
}

.layer:nth-child(3):after {
  transform: translateZ(-3px);
}

.layer:nth-child(4):after {
  transform: translateZ(-4.5px);
}

.layer:nth-child(5):after {
  transform: translateZ(-6px);
}

.layer:nth-child(6):after {
  transform: translateZ(-7.5px);
}

.layer:nth-child(7):after {
  transform: translateZ(-9px);
}

.layer:nth-child(8):after {
  transform: translateZ(-10.5px);
}

.layer:nth-child(9):after {
  transform: translateZ(-12px);
}

.layer:nth-child(10):after {
  transform: translateZ(-13.5px);
}

.layer:nth-child(11):after {
  transform: translateZ(-15px);
}

.layer:nth-child(12):after {
  transform: translateZ(-16.5px);
}

.layer:nth-child(13):after {
  transform: translateZ(-18px);
}

.layer:nth-child(14):after {
  transform: translateZ(-19.5px);
}

.layer:nth-child(15):after {
  transform: translateZ(-21px);
}

.layer:nth-child(16):after {
  transform: translateZ(-22.5px);
}

.layer:nth-child(17):after {
  transform: translateZ(-24px);
}

.layer:nth-child(18):after {
  transform: translateZ(-25.5px);
}

.layer:nth-child(19):after {
  transform: translateZ(-27px);
}

.layer:nth-child(20):after {
  transform: translateZ(-50px);
}

.layer:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

.layer:nth-child(n+11):after {
  -webkit-text-stroke: 15px rgb(0, 9, 17);
  text-shadow: 6px 0 6px #50006b, 5px 5px 5px #830094, 0 6px 6px #0022ff;
}

.layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px #ff006a;
}

.layer:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

.layer:first-child:after {
  color: #fff;
  text-shadow: none;
}

@keyframes ಠ_ಠ {
  100% {
    transform: rotateX(-30deg) rotateY(-15deg);
  }
}

