.controls button[data-state="subtitles"]{
    height:85%;
    text-indent: 0;
    font-size: 16px;
    font-weight: bold;
    background:#000;
    border-radius:2px;
}


.leverage{
    max-width: 70%;
    min-width: 70%;
    margin: 0 auto;
    border: 3px solid black;
}

h1{
    font-family: 'Pangolin', cursive;
    text-align: center;
    color:white;
}

h2{
    font-family: 'Pangolin', cursive;
    font-size:2rem;
    color:white;
    text-shadow: #f3ffbe;
}

button{
    padding:8px;
    font-family: 'Pangolin', cursive;
    background-color: azure;
}

audio{
    border: 3px solid rgb(167, 23, 83);
    border-radius: 50px;
}

body{
    background-color:black;
    padding:15px;
}

.stage {
  height: 300px;
  width: 500px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style:preserve-3d;
  animation: ಠ_ಠ 6s infinite alternate ease-in-out -7.5s;
  animation-fill-mode: forwards;
  transform: rotateY(40deg) rotateX(33deg) translateZ(0);
}

.layer:after {
  font: 100px/0.65 "Pacifico", "Kaushan Script", Futura, "Roboto", "Trebuchet MS", Helvetica, sans-serif;
  content: "Media\a    Player!";
  white-space: pre;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 20px;
  color:linear-gradient(180deg, #fff, #ffadbb, #f3ffbe);
  ;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer:nth-child(1):after {
  transform: translateZ(0px);
}

.layer:nth-child(2):after {
  transform: translateZ(-1.5px);
}

.layer:nth-child(3):after {
  transform: translateZ(-3px);
}

.layer:nth-child(4):after {
  transform: translateZ(-4.5px);
}

.layer:nth-child(5):after {
  transform: translateZ(-6px);
}

.layer:nth-child(6):after {
  transform: translateZ(-7.5px);
}

.layer:nth-child(7):after {
  transform: translateZ(-9px);
}

.layer:nth-child(8):after {
  transform: translateZ(-10.5px);
}

.layer:nth-child(9):after {
  transform: translateZ(-12px);
}

.layer:nth-child(10):after {
  transform: translateZ(-13.5px);
}

.layer:nth-child(11):after {
  transform: translateZ(-15px);
}

.layer:nth-child(12):after {
  transform: translateZ(-16.5px);
}

.layer:nth-child(13):after {
  transform: translateZ(-18px);
}

.layer:nth-child(14):after {
  transform: translateZ(-19.5px);
}

.layer:nth-child(15):after {
  transform: translateZ(-21px);
}

.layer:nth-child(16):after {
  transform: translateZ(-22.5px);
}

.layer:nth-child(17):after {
  transform: translateZ(-24px);
}

.layer:nth-child(18):after {
  transform: translateZ(-25.5px);
}

.layer:nth-child(19):after {
  transform: translateZ(-27px);
}

.layer:nth-child(20):after {
  transform: translateZ(-50px);
}

.layer:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

.layer:nth-child(n+11):after {
  -webkit-text-stroke: 15px rgb(0, 9, 17);
  text-shadow: 6px 0 6px #50006b, 5px 5px 5px #830094, 0 6px 6px #0022ff;
}

.layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px #ff006a;
}

.layer:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

.layer:first-child:after {
  color: #fff;
  text-shadow: none;
}

@keyframes ಠ_ಠ {
  100% {
    transform: rotateX(-30deg) rotateY(-15deg);
  }
}